<div class="container text-left">
  <div class="row">
    <div class="col-3 p-3 mt-4 mr-3">
      <table class="table table-hover table-inverse">
        <h6 class="mb-4 p-4"><strong>◆ Ǹecklace & Bracelet ◆</strong></h6>
          <ul>
            <li class="border-bottom-corol:dark  pb-2 mb-4">
              <p><strong><%= link_to items_path,class: 'text-dark' do %>◆ ALL <strong></p>
                <% end %>
                  </li>

                  <% genres.each do |genre| %>

                <li class="border-bottom text-left pb-2 mb-4">

              <%= link_to genre_path(genre),class: 'text-dark' do %>
            <p>◆ <%= genre.name %></p>
          <% end %>
        </li>
      <% end %>

    </ul>
  </table>
</div>