 <table>
    <ul>
      <li class="pb-2 mb-4 mt-5">
        <p>
          <h6>
          <%= link_to items_path,class: 'text-dark' do %>
          ◆ Ǹecklace & Bracelet ◆</6>
          <% end %>
        </p>
      </li>
      <% genres.each do |genre| %>
        <li class="text-left pb-2 mb-4">
          <strong>
          <%= link_to genre_path(genre),class: 'text-dark' do %>
            <p>◆ <%= genre.name %></p>
          <% end %>
          </strong>
        </li>
      <% end %>
    </ul>
  </table>

