@use '~bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}



heading {
  width: 100%; /* 横幅90% */
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
}

li{
  list-style:none;
}


footer{
    margin-top: 20px;
    width: 100%;
}
