@use '~bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

li{
  list-style:none;
}

body {
    width: 100%;
    border:20px solid #000000;/* 枠線 */
    box-sizing:border-box;
}
@media screen and (max-width: 767px){
body {
    border: 10px solid #000000;/* SP枠線の幅 */
}
}

footer{
    margin-top: 20px;
    width: 100%;
}
