<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-12 px-5 px-sm-0 mx-auto">
     <h4 class="font-weight-bold text-center mr-5 mt-5 mb-5">◆ ジャンル一覧 ◆</h4>

        <div class="mb-5 ml-5 row">
          <% @genre.items.each_slice(5) do |items_group| %>
          <% items_group.each do |item| %>

            <div class="col-md-6 col-lg-4">
              <%= link_to item_path(item) do %>

              <div class="card mr-3 mb-1" style="width: 248px;">
              <div class="card-header p-4" style="background-color: #ffffff"><%= image_tag item.get_image, size: '200x200' %>
              </div>
              </div>
              <h5 class="text-left mt-1 mb-3" style="color:#ea5550;">￥<%= (item.without_tax_price * 1.1).round %> </h5>
            <% end %>
             </div>
          <% end %>
        <% end %>
        </div>
      <div class="px-5 px-sm-0 mt-4 mx-auto"><%= paginate @genres %></div>
  </div>
</div>
</div>