<footer>
 <nav class="navbar navbar-expand-lg navbar-dark p-5" style="background-color: #efe0ff;">
  <div class="container">
   <div class="row">
    <div class="mx-auto">
     <table>
      <thead>
       <tr>
        <th class="text-dark">SNSフォローはこちらから  ⇩</th>
         </tr>
          </thead>
          <tbody>
           <tr class="social">
            <th>
             <h2 class="text-dark fab fa-facebook-square pt-3 pr-3"></h2>
             <h2 class="text-dark fab fa-twitter-square pt-3 pr-3"></h2>
             <h2 class="text-dark fab fa-instagram pt-3 pr-3"></h2>
             <h2 class="text-dark fa-brands fa-line pt-3 pr-3"></h2>
             <td class="text-"><%= link_to "退会する", customers_check_path %></td>
            </th>
          </tr>
         </table>
       </div>
     </div>
   </div>
 </footer>